@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}

/* Nav Section */
.main-nav a:hover,
.main-nav .active,
.main-nav .active:focus,
.main-nav li:hover>a{
    color: #eaac4e ;
    transition: .3s ease;
}
#header{
    z-index: 1;
}
.nav-item{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;

}
.nav-list, .nav-link{
    margin: 0 .5rem;
    padding: .8rem;
    list-style-type: none;
    text-decoration: none !important;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 700;

}
.nav-brand{
    margin: 0 .5rem;
    padding: .8rem;
    font-size: 2rem;
    color: #000;
    font-weight: 900;
    text-decoration: none !important;
    font-family: 'Roboto', sans-serif;
}
.nav-brand:hover{
    transition: .3s ease;
    color: #eaac4e ;
}
.head-container{
    position: relative;
    background-color: #fff;
    /* box-shadow: .6px .6px .6px .6px #000; */
}

/* Hero Section */

.hero-title{
    display: flex;
    align-items: center;
    color: #fff;
    height: 80vh;
}
/* Wave effect */
#hero{
    width: 100%;
    background-image: url("images/software.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    margin: auto;
}
#hero::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: .6;
  background-color: black;
}

.hero-content h1{
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;

}
.typewriter h1{
    color: #eaac4e;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #999999; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    margin-bottom: 2rem;
    animation: 
    typing 3.5s steps(30, end),
    blink-effect .5s step-end infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-effect {
    from, to { border-color: transparent }
    50% { border-color: #eaac4e }
  }
.hero-list{
    display: flex;
    color: #fff;
    font-size: 1.5rem;
}
.hero-list li a i{
    padding-right: 1.5rem;
    color: #fff;
    font-size: 1.5rem;
}

@media screen and (max-width: 676px){
    .hero-content h1{
        font-size: 2.5rem;

    }
    .hero-title{
        height: 100vh;
        width: 90%;
        margin: 0 auto;
    }
    .hero-title p{
        font-size: 15px;
    }
}
@media screen and (max-width: 510px){
    .hero-content h1{
        font-size: 1.8rem;

    }
    .hero-title{
        height: 100vh;
        width: 80%;
        margin: 0 auto;
    }
    .hero-title p{
        font-size: 13px;
    }
    #hero{
        height: 100%;
        width: 100%;
    }
    .hero-content{
        margin: 0 auto;
    }
}
@media screen and (max-width: 440px){
    .hero-title{
        margin: 0;
    }
}
/* Portfolio Section */

#portfolio{
    padding: 3rem 0;
    margin-top: 5rem;
}
.portfolio-heading h1{
    background:  #eaac4e;
    width: 10rem;
    height: 13px;
    display: flex;
    align-items: end;
}
.portfolio-heading h1:hover{
    transition: .4s ease;
    width: 5rem;
    cursor: pointer;
}

.container > .portfolio-heading{
    margin: 2rem 0;
    margin-bottom: 5rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
.container .portfolio-heading  > h1{
    font-weight: 600;
    color: #292929;
    font-size: 2rem;
}
.project-title-box h5{
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
    color: #7e7d7d;
    margin-bottom: 1rem;
}
.project-title{
    font-size: 2.5rem;
}

.skills{
    background-color: #000;
    color: #fff;
    padding: .4rem 1rem;
    margin-right: 5px;
    font-size: 13px;
}
.skills-info{
    display: flex;
    margin: 2rem 0;
}
.project-btn{
    border: none;
    background-color: #eaac4e;
    color: #fff;
    width: 8rem;
    height: 50px;
    font-size: 14px;
    margin: 1rem 2rem 0 0;
    font-weight: 600;
    letter-spacing: 1px;
    transition: .3s ease;
}
.project-btn:hover{
    transform: scale(1.2);
    box-shadow: 2px 2px 2px #7e7d7d;
}
.project-info p{
    line-height: 1.8;
}
.project-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-project{
    width: 20rem;
    height: 20rem;
    border-radius: 25px;
    margin: 0 auto;
    object-fit: cover;
}
.project-box a .img-project:hover{
    transform: translateY(-10px);
    box-shadow: 30px 20px 10px 3px #7e7d7d;
    transition: .3s ease;
    opacity: .8;
}

.box-project{
    margin-bottom: 10rem;
}
.coming-soon{
    border: 1px solid #999999;
}

/* About Section */

#about{
    width: 100%;
    background-image: url("images/photo-1451187580459-43490279c0fa.avif");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    margin: auto;
}
#about::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: .4;
    background-color: black;
}

.profile-img{
    width: 100%;
}
.about-info{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    padding: 3rem 4rem;
    font-family: 'Roboto', sans-serif;

}
.about-info p{
    width: 100%;
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.8;
}

.content-container{
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 1.3s ease, transform 1.3s ease;
}
.content-container.active{
  opacity: 1;
  transform: translateY(0);
}


/* Contact Section */
#contact{
    margin-top: 3rem;
    padding: 3rem 0;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
}
.contact-title > h2{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.contact-email{
    font-size: 1.2rem;
    color: #eaac4e;
    font-weight: 600;
}
.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-details{
    list-style-type: none;
    text-align: left;
    padding-left: 0;
    font-family: 'Poppins', sans-serif;
    color: #898989;
    line-height: 2;
    font-weight: 400;
}

/* Footer Section */
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(18, 30, 39);
    height: 10rem;
}
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-social{
    display: flex;
    justify-content: start;
    font-size: 1.8rem;
    list-style: none;
    margin-bottom: 1rem;
}
.footer-social li a i{
    padding-right: 1.8rem;
    color: #ffffff;
    transition: all .4s;
}
.footer-social li a i:hover{
    padding-right: 1.8rem;
    color: #eaac4e;
    transition: all .4s;
}
.copyrights{
    font-size: 13px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}
.designby{
    color: #ffffff;
    font-size: .9rem;
    font-weight: 300;
        margin-bottom: 0;
}
.container .designby > a{
    color: #eaac4e;
    text-decoration: none;
    font-size: .9rem;
}

/* Mobile Devices Section */
@media screen and (max-width: 1200px){
    .about-info{
        padding: 0;
    }
    .about-info p{
        width: 100%;
    }
    .profile-img{
        width: 100%;
    }
    .img-container{
        display: flex;
        justify-content: center;
    }
    .skills-info{
        flex-wrap: wrap;
    }
    .project-box{
        margin-top: 2rem;
    }
}
@media screen and (max-width: 990px){

    .profile-img{
        width: 80%;
    }
    .project-box{
        margin-top: 3rem;
        justify-content: start;
    }
    


}

@media screen and (max-width: 767px){
    .about-info{
        padding: 0;
    }
    .about-info p{
        width: 100%;
    }
    .main-nav{
        display: none;
    }
    .hero-title{
        height: 60vh;
    }
    .skills-info{
        flex-wrap: wrap;
    }
    #hero{
        width: 100%;
        height: 60vh;
    }
    .wave, .wave-two, .wave-three {
        display: none;
    }
}
@media screen and (max-width: 574px){
    #about, #services, #contact, #services{
        padding: 2rem 1rem;
    }
    .hero-title{
        padding-left: 13px;
    }
    span .skills{
        margin: 0;
    }
.typewriter h1{
    border-right: .15em solid #999999; /* The typwriter cursor */


}

}
@media screen and (max-width: 420px){

    .hero-title{
        height: 50vh;

    }
    #hero{
        height: 50vh;
    }
    .hero-content{
        text-align: left;
    }
    .hero-list li .social-link i{
        font-size: 1.2rem;
    }

}


@media screen and (max-width: 375px){
    .about-info{
        padding: 1rem;
    }
    .about-info h3{
        font-size: 1.3rem;
    }
    .about-info p{
        width: 100%;
        font-size: 13px;
    }
    #contact{
        margin-top: 5rem;
        padding: 0 1rem;
    }
    #services, #skills, #about {
        padding: 2rem 1rem;
    }
    #skills{
        padding-top: 2rem;
    }


    .portfolio-img{
        padding: 0 1rem;
        overflow: hidden;
    }


}

